@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/*burguer*/

.burguer{
    position: relative;
    width: 570px;
    height: 420px;
    top: 100px;
    left: 100px;
    border-radius: 150px;
}

/**************/

/*titulo*/

.cuerpo{
    font-family: "Bebas Neue";
}
.contenedorTitulo{
    position: relative;
    top: -300px;
    left: 250px;
    display: inline-block;
    text-align: center;
}


.titulo{
    position: absolute; 
    font-size: 2rem;
    top: 25%;
    left: 40%;
    
}

#tituloPanceta{
    left: 27%;
}

#tituloCheddarBoom{
    left: 34%;
}

/*************/

/*texto*/
.espaciado{
    width: 2px;
}
.texto{
    position: relative;
    width: 37%;
    font-size: 1.2rem;
    top: -300px;
    left: 750px;
}
/****************/

/*botones*/
.btnCarrito{
    color: black;
    font-size: 2rem;
    background-color: #FF8A00;
    padding: 10px 40px;
    width: 150px;
    border-radius: 100px;
    border-style: solid groove;
    border-color:#e47f0d;
}

/*boton carrito*/
.btnCarrito{
    position: relative;
    left: 180px;
    width: 80%;
    font-family: "Bebas Neue";
}

/*otros productos*/

.otrosProductos{
    position: relative;
    top: -100px;
    font-family: "Bebas Neue";
}



.subtitulo{
    position: relative;
    width: 90%;
    left: 50px;
    top: -150px;
    font-size: 2rem;
}

hr{
    position: relative;
    top: -50px;
    width: 95%;
    height: 3px;
    background-color: antiquewhite;
    border-style: ridge;
}

.imagenes img{
    width: 240px;
    height: 190px;
    border-radius: 300px;
    
}

/*carrusel

.multiple-items{
    width: 80%;
    position: relative;
    left: 10%;
    top: -90px;
    display: flex;
    justify-self: center;
    align-items: center;
}
.multiple-items a{
    margin-left: 60px;
    margin-right: 0px;
}

***********/

/******************/


@media screen and (max-width: 1300px) {
    .burguer{
        position: relative;
        width: 470px;
        height: 400px;
        top: 100px;
        left: 70px;
        border-radius: 150px;
    }

    .contenedorTitulo{
        position: relative;
        top: -290px;
        left: 150px;
    }

    .texto{
        top: -300px;
        left: 650px;
    }

    .btnCarrito{
        position: relative;
        left: 0px;
    }

}

@media screen and (max-width: 1050px) {
    .contenedorTitulo{
        position: relative;
        left: 60px;
    }

    .texto{
        position: relative;
        left: 550px;
    }


    .burguer{
        position: relative;
        width: 470px;
        height: 400px;
        top: 100px;
        left: 50px;
    }
    
}

@media screen and (max-width: 990px) {

    .burguer{
        position: relative;
        width: 670px;
        height: 520px;
        top: 150px;
        left: 11%;
        border-radius: 150px;
    }

    .contenedorTitulo{
        position: relative;
        top: -500px;
        left: 31%;
    }

    .texto{
        position: relative;
        top: 100px;
        left: 5%;
        width: 90%;
        height: 50%;
        text-align: center;
    }
    
    .otrosProductos{
        position: relative;
        top: 270px;
    }
    
    .imagenes img{
        width: 200px;
        height: 150px;
        border-radius: 300px;
    }

    .multiple-items{
        top: -250px;
        height: 500px;
    }
    
}

@media screen and (max-width: 850px) {
    .burguer{
        left: 5%;
    }

    .contenedorTitulo{
        left: 25%;
        
    }

    .texto{
        left: 3%;
    }

    .multiple-items{
        width: 50%;
        left: 25%;
    }

    .multiple-items a{
        margin-left: 2%;
    }
    

}

@media screen and (max-width: 720px) {
    .contenedorTitulo{
        left: 23%;
        
    }
    .burguer{
        width: 570px;
    }

    .multiple-items a{
        margin-left: 1%;
    }
}

@media screen and (max-width: 600px) {
    .burguer{
        width: 470px;
        height: 320px;
    }

    .contenedorTitulo{
        position: relative;
        top: -300px;
        left: 15%;
    }

    .imagenes img{
        margin: 80px 10px;
    }
}
@media screen and (max-width: 550px) {
    .burguer{
        width: 460px;
        height: 320px;
    }
}

@media screen and (max-width: 500px) {
    .subtitulo{
        width: 80%;
    }
    .burguer{
        width: 420px;
        height: 320px;
    }

    .imagenes img{
        margin: 80px 0px;
    }
}