@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@100..900&family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kalam:wght@300;400;700&display=swap");


/*                 FORM DE CONTACTO                  */

.escribinos-container {
  margin: 80px auto;
  margin-top: 50px;
  width: 90%;
  font-family: "Oswald", sans-serif;
  background: #fff;
  /* padding: 150px 100px; */
  padding: 100px 50px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  width: 500px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  z-index: 1;
}

.escribinos-container:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
}

form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

form h2 {
  margin-bottom: 35px;
  color: #E9D331;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-style: italic;
  font-weight: bolder;
}

.dato-lbl {
  display: block;
  margin-bottom: 8px;
  color: #333;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  margin-bottom: 30px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;

  padding: 12px;
  border: 2px solid #E9D331;
  border-radius: 25px;
  transition: border-color 0.3s, background-color 0.3s;
  font-size: 1em;
}

input:focus,
textarea:focus {
  border-color: #000;
  background-color: #dfd061;
  outline: none;
}

textarea {
  resize: vertical;
  min-height: 200px;
  resize: none;
}

button {
  width: 50%;
  margin: 0 auto;
  background-color: #e9d331;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
  font-size: 1em;
  text-transform: uppercase;
  color: #000;
}


/*llllllllllllllllllllllllllllllllllllllllll*/

.espaciado{
  margin-bottom: 50px;
}
.sucursal p, .sucursal h1{
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  margin: 25px;
}
.sucursal h1{
  font-size: 4rem;
}


/*                RESPONSIVE                    */

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }

  .logo-img {
    height: 80px;
    margin-left: 0px;
  }

  .container-burger1706 {
    height: 100px;
    grid-template-rows: 30% 90%;
  }

  .container-burger1706 h2 {
    font-weight: 800;
    font-size: 40px;
  }

  .container-burger1706 h4 {
    font-size: 15px;
  }

  nav {
    padding: 10px 0px;
    padding-left: 60px;
  }

  .nav-link {
    font-size: 12px;
  }

  .escribinos-container {
    margin: 50px auto;
    /*margin-top: 200px;*/
    width: 90%;
    padding: 60px 50px;
    width: 60%;
  }

  .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }

  .caja p {
    margin: 5px 5%;
  }

  .caja img {
    width: 100px;
  }

  .caja h2 {
    margin-bottom: 15px;
    font-size: 15px;
  }

  #escribinos-link {
    margin-top: 1rem;
    font-size: 16px;
    width: 150px;
  }

  .red-social a {
    font-size: 12px;
    width: 150px;
  }
}

@media screen and (max-width: 480px) {
  nav {
    padding: 10px 0px;
    padding-left: 20px;
  }

  .logo-img {
    height: 60px;
    margin-left: 0px;
  }

  .container-burger1706 {
    height: 60px;
    grid-template-rows: 30% 90%;
  }

  .container-burger1706 h2 {
    font-weight: 800;
    font-size: 25px;
  }

  .container-burger1706 h4 {
    font-size: 11px;
  }

  .nav-link {
    font-size: 10px;
    padding-right: 40px;
  }

  /*.escribinos-container {
    /* margin: 2000%; */
    /* margin: 50px auto;
    margin-top: 200px;
    width: 90%;
    padding: 60px 50px;
    width: 60%; */
  
  .grupo-1 {
    width: 70%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    padding: 15px 0px;
  }

  .caja img {
    width: 80px;
  }

  .caja h2 {
    margin-bottom: 10px;
    font-size: 13px;
  }

  .caja p {
    font-size: 12px;
  }

  .grupo-2 small {
    font-size: 10px;
  }

  #escribinos-link {
    font-size: 12px;
    width: 120px;
    line-height: 35px;
  }

  .red-social a {
    font-size: 10px;
    width: 120px;
    height: 35px;
    line-height: 35px;
  }
}
